* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
a{
  transition: 0.3s;
}
body {
  font-family: 'Open Sans', sans-serif, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo {
  margin: 10px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.logo-name {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  margin-left: 8px;
}

.navabar {
  display: grid;
  align-items: center;
  justify-content: space-around;
}

.list_item li {
  display: inline-block;
  padding: 30px;
  text-decoration: none;
  font-size: 15px;
}

.list_item li a {
  text-decoration: none;
  color: black;
}

.header_navigation {
  display: flex;
  align-items: center;
}

.header_btn {
  margin: 10px;
}

.qabul {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #DE2E54;
  border: 2px solid #DE2E54;
  font-family: 'Open Sans Condensed', sans-serif, Arial;
  font-weight: 700;
  font-size: 15px;
  padding: 12px 24px;
  border-radius: 8px;
  transition: 0.7s;
}

.qabul:hover {
  border: 2px solid #DE2E54;
  color: #DE2E54;
  background-color: #fff;
  transition: 0.7s;
}

.qabul a {
  color: #fff;
}

.qabul:hover a {
  color: #DE2E54;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-name {
  color: #000;
  font-size: 24px;
  font-weight: 600;
}

.logo:hover .logo-name {
  color: #DE2E54;
}


.navbar {
  display: flex;
}

.navbar-list-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  font-size: 15px;
}

.navbar-list-link:hover {
  color: #DE2E54;
}

.all {
  color: #fff;
  background-color: #0EB4C1;
}

.all {
  display: flex;
  justify-content: space-between;
}

.info {
  padding-top: 120px;
  padding-bottom: 120px;
  width: 500px;
  margin-left: 40px;
}

.title {
  font-family: 'Open Sans Condensed', sans-serif, Arial;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-top: 0;
  margin-bottom: 16px;
}

.discribtion {
  font-size: 18px;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 33px;
}

.image {
  margin-top: 30px;
  margin-right: 25px;
}

.image img {
  width: 450px;
}

.Xizmatlar {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
}

.Xizmatlar_title {
  text-align: center;
  font-weight: 750;
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 55px;
}

.Xizmatlar_ul {
  width: 865px;
  margin-bottom: 60px;
}

.Xizmatlar_li {
  display: flex;
  margin: 90px;
}

.Xizmatlar_li_img {
  margin-right: 30px;
  width: 215px;
}

.Xizmatlar_li_title {
  font-size: 25px;
  color: #000000;
  margin-top: 25;
  margin-bottom: 25;
}

.Xizmatlar_li_describtion {
  color: #9c9191;
  margin-top: 0;
  margin-bottom: 0;
}

.Xizmatlar_btn {
  display: flex;
  justify-content: center;
}

.registration {
  color: #fff;
  background-color: #00eeff;
  padding-top: 65px;
  padding-bottom: 65px;
  display: grid;
  justify-content: center;
}

.registration_title {
  font-family: 'Open Sans Condensed', sans-serif, Arial;
  font-weight: 700;
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 40px;
}

.registration_btn {
  text-decoration: none;
  background: local;
  color: #ffffff;
  border: 3px solid white;
  border-radius: 8px;
  margin: 10px;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  padding: 15px 15px 15px 15px;
  transition: 0.7s;
}

.registration_btn:hover {
  border: 2px solid #DE2E54;
  background-color: #DE2E54;
}

.footer {
  background-color: #000000;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer_logo img {
  margin-left: 15px;
}

.footer_navbar {
  display: flex;
  align-items: center;
}

.footer_navbar_link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
}

.footer_navbar_li {
  margin: 10px;
}